/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #c8102e;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 16px;
  line-height: 1.6;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
  align-items: center;
  justify-content: center;
  height: 85vh;
  max-width: 800px;
  margin: 0 auto;
}

.intro-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  max-width: 600px;
}

header {
  height: 15vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

header .logo {
  max-width: 150px;
}

.subheadline {
  font-size: 1.125rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.additional-text {
  font-size: 1.125rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.cta button {
  background-color: #0056b3;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cta button:hover {
  background-color: #003d80;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signup-button {
  display: inline-block;
  background-color: #0056b3;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-button:hover {
  background-color: #003d80;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



/* Responsive Design */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .intro-container h2 {
    font-size: 1.5rem;
  }

  .subheadline, .additional-text {
    font-size: 1rem;
  }

  .wrap {
    padding: 18px;
  }

}
